* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: MartianMono;
    src: url('c:\Users\Admin\OneDrive\Рабочий стол\MartianMono-Medium.ttf');
}


html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(255 222 173);
    font-family: MartianMono, sans-serif;
}

.container {
    max-width: 1600px;
    padding: 30px 30px;
    font-size: 16px;
    margin: 0 auto;
}

.header {
    background-color: rgb(210 105 30);
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    font-size: 18px;
    flex-wrap: wrap;
}

.menu li a {
    color: rgb(255 228 196);
    text-decoration: none;
    border-bottom: 2px solid transparent;

}

.menu li a:hover {
    color: rgb(255 222 173);
    border-bottom: 2px solid rgb(255 222 173);
    ;
}

.main-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
}

.photo img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 300px;
}

.profile-description {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.name {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.name span {
    font-size: 20px;
}

.nav-contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contacts {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact span:first-of-type {
    font-weight: bold;
}

.contact a {
    text-decoration: none;
}

.contact a:not(.menu li a):visited {
    color: rgb(210 105 30);
}


.main-info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 60px;
}

h2 {
    margin-bottom: 15px;
    border-bottom: 2px solid rgb(210 105 30);
}

nav:not(.menu) {
    padding-left: 15px;
}

ul:not(.menu) {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task {
    font-weight: bold;
    margin-bottom: 25px;
}

.task span {
    font-style: italic;
    font-weight: normal;
}

.solution {
    white-space: pre-wrap;
}

.courses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.courses-description {
    margin-bottom: 15px;
}

.courses-description span:first-of-type {
    font-weight: bold;
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(210 105 30);
    font-size: 16px;
}

.footer a {
    text-decoration: none;
}

.footer a:visited {
    color: rgb(210 105 30);
}

.school-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.school-info img {
    width: 70px;
}

.school-info img {
    width: 70px;
}
